<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/favicon.ico">

  <title>Sensor History</title>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> ??? -->
  <script src="/bootstrap/assets/js/vendor/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="/bootstrap/assets/js/vendor/jquery.min.js"><\/script>')
  </script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>

  <script src="/javascripts/Chart.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="/bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/sensor.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="/bootstrap/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="/bootstrap/assets/js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <div id="wrapper">
    <div class="headertxt">
      <p id="sensor_name">Buttons</p>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Voltage</h3>
      </div>
      <div class="panel-body">
        <canvas id="voltage"></canvas>
        <div id=legend_vol></div>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Temperature</h3>
      </div>
      <div class="panel-body">
        <canvas id="temperature"></canvas>
        <div id=legend_temp></div>
      </div>
    </div>
    
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Humidity</h3>
      </div>
      <div class="panel-body">
        <canvas id="humidity"></canvas>
        <div id=legend_humi></div>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">PM10/PM2.5</h3>
      </div>
      <div class="panel-body">
        <canvas id="pm"></canvas>
        <div id=legend_pm></div>
      </div>
    </div>

    <div class="mastfoot">
      <div class="inner">
        <p>Sensor View by <a href="https://webdev-zhangtianchao1.c9users.io">@tico</a>.</p>
      </div>
    </div>
  </div>




</body>

<script>

  $(document).ready(function() {

    $("#sensor_name").empty().html("Sensor #"+<%= sensor %>);
    
    $.ajax({
      url: '/users/?action=gethistorydata&index=' + <%= sensor %> +'&type=voltage',
      type: 'post',
      data: {},
      beforeSend: function(xhr) {},
      success: function(data) {
        var ctx = document.getElementById("voltage").getContext("2d");
        var myChart = new Chart(ctx).Line(data, {
          responsive: true,
          showTooltips: false
        });
        //var legend = myChart.generateLegend();
        //$("#legend_vol").empty().html(legend);
      },
      complete: function(xhr) {}
    });
    
    $.ajax({
      url: '/users/?action=gethistorydata&index=' + <%= sensor %> +'&type=temperature',
      type: 'post',
      data: {},
      beforeSend: function(xhr) {},
      success: function(data) {
        var ctx = document.getElementById("temperature").getContext("2d");
        var myChart = new Chart(ctx).Line(data, {
          responsive: true,
          showTooltips: false
        });
        //var legend = myChart.generateLegend();
        //$("#legend_temp").empty().html(legend);
      },
      complete: function(xhr) {}
    });
    
    $.ajax({
      url: '/users/?action=gethistorydata&index=' + <%= sensor %> +'&type=humidity',
      type: 'post',
      data: {},
      beforeSend: function(xhr) {},
      success: function(data) {
        var ctx = document.getElementById("humidity").getContext("2d");
        var myChart = new Chart(ctx).Line(data, {
          responsive: true,
          showTooltips: false
        });
        //var legend = myChart.generateLegend();
        //$("#legend_humi").empty().html(legend);
      },
      complete: function(xhr) {}
    });
    
    $.ajax({
      url: '/users/?action=gethistorydata&index=' + <%= sensor %> +'&type=pm',
      type: 'post',
      data: {},
      beforeSend: function(xhr) {},
      success: function(data) {
        var ctx = document.getElementById("pm").getContext("2d");
        var myChart = new Chart(ctx).Line(data, {
          responsive: true,
          showTooltips: false
        });
        var legend = myChart.generateLegend();
        $("#legend_pm").empty().html(legend);
      },
      complete: function(xhr) {}
    });
    
  });
</script>

</html>
